@{
    ViewBag.Title = "About";
}
    <h2>Acerca de...</h2>
<h3><strong>MI HERMOSA PAGINA</strong></h3>


<div class="alert alert-info alert-dismissable center-block ">
    <strong>¡Hola!</strong> En esta sección se presentará para que sirve esta página: <br />
    Como se puede observar, esta página fue creada con el fin de hacer la práctica semanal<br/>
    de esta unidad<br/>
</div>
    
